<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535105836586-k4jvalr5kuqqtll1nt5rh5a2o62mmjkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535105836586-k4jvalr5kuqqtll1nt5rh5a2o62mmjkv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>535105836586-tt2ajk1cfu85e3lt3qn9klvp5nhin912.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8geFLzX41AAkxSihJ-t7MWaYSym4nSHg</string>
	<key>GCM_SENDER_ID</key>
	<string>535105836586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cascade.bloopr</string>
	<key>PROJECT_ID</key>
	<string>bloopr-test</string>
	<key>STORAGE_BUCKET</key>
	<string>bloopr-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535105836586:ios:c210935b4260dcb51c1553</string>
	<key>DATABASE_URL</key>
	<string>https://bloopr-test.firebaseio.com</string>
</dict>
</plist>